#filters {
    border: 2px solid white;
    border-color: #b58900;
    border-radius: 3px;
    padding: 10px;
    height: initial;
}

.fblocks {
    width: 23%;
    display: inline-block;
    border: 1px solid white; 
    border-color: #b58900;
    border-radius: 3px; 
    margin-left: 5px;
    margin-right: 5px;
    vertical-align:top;
    padding: 5px;
}

.flabel {
    display:block;
	float:left;
	width:80px;
}

.fields {
    width: 150px;
}

#btnSearch {
    align-items: center;
    width: 90%;
}
