#filters {
    border: 2px solid white;
    border-color: #b58900;
    border-radius: 3px;
    padding: 10px;
    height: initial;
    /*margin: 0 auto;*/
}

.fblocks {
    height: 90px;
    display: inline-block;
    border: 1px solid white; 
    border-color: #b58900;
    border-radius: 3px;
    margin-left: 6px;
    margin-right: 5px;
    vertical-align:top;
    padding: 5px;
    height: 80px;
    width: 23.8%;
}

.flabel {
    display:block;
	float:left;
	width:85px;
}

.fields {
    width: 175px;
    margin-bottom: 2px;
}

.btnsearch {
    width: 99%;
    margin-left: 5px;
    margin-top: 5px;
}
